[submodule "blog/themes/paper"]
	path = blog/themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "blog/themes/hugo-digital-garden-theme"]
	path = blog/themes/hugo-digital-garden-theme
	url = https://github.com/paulmartins/hugo-digital-garden-theme.git
