{{- /* Comments area start */ -}}
<div class="container giscus my-4">
    <script src="https://giscus.app/client.js"
        data-repo="[YOUR REPO]"
        data-repo-id="[YOUR REPO ID]"
        data-category="[YOUR CATEGORY]"
        data-category-id="[YOUR CATEGORY ID]"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-theme="light"
        data-lang="[YOUR LANGUAGE]"
        crossorigin="anonymous"
        async>
    </script>
</div>
{{- /* Comments area end */ -}}
